<div id='create-page-modal' class="modal fade" tabindex="-1" role="dialog">
  <form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create a New Page</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <fieldset>
              <div class="form-group">
                <label for="page-title" class="col-md-2 col-md-offset-1 control-label">Page Title</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" id="page-title" maxlength="100"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-9 col-md-offset-1">
                  <span class="help-block hidden" id="filename-note">The file name of the page will be:<br/><span id="filename-to-be" class="text-primary"></span></span>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close-create-page">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" id="submit-create-page" disabled>Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  
  var slugify = function(str) {
    return str.toLowerCase()
    .replace(/\s+/g, '-') // Replace spaces with -
    .replace(/[^\w\-]+/g, '') // Remove all non-word chars
    .replace(/\-\-+/g, '-') // Replace multiple - with single -
    .replace(/^-+/, '') // Trim - from start of text
    .replace(/-+$/, '') // Trim - from end of text
    .trim();
  };
  
  $('#page-title').keyup(function (e) {
    // Update #filename-to-be with slug of the page title
    var title = $(this).val().trim();
    var slug = slugify(title);

    if(slug.length > 0) {
      $('#filename-note').removeClass('hidden');
      $('#submit-create-page').prop('disabled', false);
    }
    else {
      $('#filename-note').addClass('hidden');
      $('#submit-create-page').prop('disabled', true);
    }

    var filenameSuffix = '.glide';

    $('#filename-to-be').text(slug + filenameSuffix);
  });

  $('#submit-create-page').click(function (e) {
    
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
    var title = $('#page-title').val().trim();
    var slug = slugify(title);
    var repoUrl = $('#filename-to-be').text().trim();

    // TODO: Ajax-post to create a file
    // $.ajax({
    //   url: '/workspace/createproject/',
    //   method: 'POST',
    //   headers: {'X-CSRFToken': '{{ csrf_token }}'},
    //   dataType: 'json',
    //   data: JSON.stringify({
    //     title: title,
    //     description: description,
    //     slug: slug,
    //     repoUrl: repoUrl
    //   }),
    //   contentType: 'application/x-www-form-urlencoded',//'application/json; charset=utf-8',
    //   success: function (data) {
    //     console.info(data);
    //     if(data) {
    //       // A new project has been created. Open the project.
    //       var slug = data.name;
    //       window.location = '/workspace/open/' + slug;
    //     }
    //     else {
    //       // Error: Failed to create a new project; the project title might be being used.
    //       window.location.reload();
    //     }
    //   }
    // });

  });

  $('#create-page-modal').focus(function (e) {
    // Focus the input when modal opened
    $('#page-title').focus();
  });

  $('#create-page-modal button[data-dismiss=modal]').click(function (e) {
    // Reset the form when dismissed
    $('#create-page-modal input').val('');
  });

</script>
