<div class="height-95 hidden" id="editor-wrapper">
  <label class="h5">Editor</label>&emsp;-&emsp;<span class="lead file-being-edited"></span>

  <ul class="nav nav-tabs">
    <!-- <script id="editor-tab-template" type="x-template">
      <li>
        <a data-toggle="tab">
        </a>
      </li>
    </script> -->
    <li class="active">
      <a href="#data-editor" data-toggle="tab" data-current-file="">
        Glide Data
      </a>
    </li>
    <li>
      <a href="#html-editor" data-toggle="tab" data-current-file="">
        Template HTML
      </a>
    </li>
    <li>
      <a href="#css-editor" data-toggle="tab" data-current-file="">
        Template CSS
      </a>
    </li>
  </ul>

  <div class="tab-content height-95" id="editors">
    <!-- <script id="editor-template" type="x-template">
      <div class="tab-pane fade height-95 code-editor" id="{{ fileName }}-editor"></div>
    </script> -->
    <div class="tab-pane fade height-95 active in code-editor" id="data-editor"></div>
    <div class="tab-pane fade height-95 code-editor" id="html-editor"></div>
    <div class="tab-pane fade height-95 code-editor" id="css-editor"></div>
  </div>
</div>

<script src="/static/js/ace/ace.js"></script>
<script>

  var workspaceContext = workspaceContext || {
    fileStatus: {},
    editors: {}
  };

  var codeEditors = codeEditors || {};
  var codeSessions = codeSessions || {};
  var codeDocuments = codeSessions || {};

  // Initialize
  (function () {
    codeEditors = {
      data: ace.edit('data-editor'),
      html: ace.edit('html-editor'),
      css: ace.edit('css-editor')
    };

    // Ace.js gives warning in using document.setValue(string):
    //   Automatically scrolling cursor into view after selection change.
    //   This will be disabled in the next version.
    //   Set editor.$blockScrolling = Infinity to disable this message.
    for(key in codeEditors) {
      codeEditors[key].$blockScrolling = Infinity;
    }

    for(key in codeEditors) {
      codeSessions[key] = codeEditors[key].getSession();
      if(key != 'data')
        codeSessions[key].setMode('ace/mode/' + key);
      else
        codeSessions[key].setMode('ace/mode/yaml');
    }

    for(key in codeEditors) {
      codeDocuments[key] = codeSessions[key].getDocument();
    }
  })();

  $('li a[data-toggle="tab"]').click(function(e) {
    var fileName = $(e.target).data('current-file').trim();
    // console.info(fileName);
    // console.info($('.repo-file-link.opened[data-file-name="'+ fileName +'"]'));
    $('.repo-file-link').removeClass('active');
    $('.repo-file-link.opened[data-file-name="'+ fileName +'"]').addClass('active');
  });

</script>
