<div class="full-height hidden" id="editor-wrapper">
  <label>Editor</label>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#data-editor" data-toggle="tab">Content Data</a></li>
    <li><a href="#html-template-editor" data-toggle="tab">Template HTML</a></li>
    <li><a href="#css-template-editor" data-toggle="tab">Template CSS</a></li>
  </ul>

  <div class="tab-content full-height">

    <div class="tab-pane fade active in height-90" id="data-editor">
      <h4>Editing <em>title.glide</em></h4>
      <div class="code-editor col-md-12 height-90" contenteditable>
        <p>
          <span class="text-primary">title</span>
          <span class="text-muted">:</span>
          <span class="text-warning">Journey to Adoption</span>
        </p>
        <p>
          <span class="text-primary">text</span>
          <span class="text-muted">:</span>
          <span class="text-warning">This is an introduction to the issue. The fact that is not that simple to get adopted. Now put yourself in someone else's shoes. You’re single person who has love in their heart and wants to raise a child. For one reason or another you cannot have a child… You meet Chuck and adorable 8 year old…. What do you do?</span>
        </p>
        <p>
          <span class="text-primary">fosterParentButton</span>
          <span class="text-muted">:</span>
          <span class="text-danger">Button</span>
          <span class="text-muted">[</span>
          <span class="text-success">Be a Foster Parent</span>
          <span class="text-muted">](</span>
          <span class="text-info">fosterParent</span>
          <span class="text-muted">)</span>
        </p>
        <p>
          <span class="text-primary">readyToAdoptButton</span>
          <span class="text-muted">:</span>
          <span class="text-danger">Button</span>
          <span class="text-muted">[</span>
          <span class="text-success">I'm Ready to Adopt</span>
          <span class="text-muted">](</span>
          <span class="text-info">adopt</span>
          <span class="text-muted">)</span>
        </p>
      </div>
    </div>

    <div class="tab-pane fade height-90" id="html-template-editor">
      <h4>Editing <em>title.html</em></h4>
      <div class="code-editor col-md-12 height-90" contenteditable>
        html editor
      </div>
    </div>

    <div class="tab-pane fade height-90" id="css-template-editor">
      <h4>Editing <em>style.css</em></h4>
      <div class="code-editor col-md-12 height-90" contenteditable>
        css editor
      </div>
    </div>

  </div>
</div>
