<label class="h5">Files</label>

<div class="full-height y-scroll">
  {% include "partials/file_list_group.html" with list_group_name="Glide Data" default=True tree=repoTree editor="data" %}
  
  {% include "partials/file_list_group.html" with list_group_name="Template HTML" default=False tree=themeTree editor="html" %}

  {% include "partials/file_list_group.html" with list_group_name="Template CSS" default=False tree=themeTree editor="css" %}
</div>

<script>
  $('.repo-file-link').click(function (e) {
    var fileName = $(this).data('file-name');
    // if(fileName in workspaceContext.fileStatus) {
    //   // Change the editor tab
    //   $('.code-editor').removeClass('active in');
    //   $('#' + fileName + '-editor').addClass('active in');
    // }
    // else {
    //   // 
    //   // Select and open
    //   // 

    //   // Get content from GitHub
    //   var downloadUrl = $(this).data('download-url');
    //   var editor = $(this).data('editor');

    //   if(downloadUrl != '') {
    //     $.get(downloadUrl, function(content, status) {
          
    //       // Handle editor behavior
    //       if(typeof content === 'string') {
    //         // Editable content

    //         // Create a new editor tab
    //         var editorTabTemplate = $($('#editor-tab-template').html());
    //         var tab = $(editorTabTemplate.find('a'));
    //         tab.attr('href', '#' + fileName + '-editor');
    //         tab.data('current-file', fileName);
    //         tab.text(fileName);
    //         $('#editor-tabs li').removeClass('active');
    //         editorTabTemplate.addClass('active');
    //         $('#editor-tabs').append(editorTabTemplate);
            
    //         // TODO: Create a new editor
    //         var editorTemplate = $($('#editor-template').html());
    //         editorTemplate.attr('id', fileName + '-editor');
    //         $('#editors div').removeClass('active in');
    //         editorTemplate.addClass('active in');
    //         $('#editors').append(editorTemplate);
    //         workspaceContext.editors[fileName] = ace.edit(fileName + '-editor');

    //         // $('a[href="#'+ editor +'-editor"]').data('current-file', fileName);
    //         // $('a[href="#'+ editor +'-editor"]').click();
    //         // codeDocuments[editor].setValue(content);
    //       }
    //       else {
    //         // Non-editable content:
    //         //  Not expected to happen!
    //       }
    //     });
    //   }

    //   workspaceContext.fileStatus[fileName] = {
    //     loadedContent: null,
    //     tempSaved: false
    //   };
    // }

    // console.info(workspaceContext.fileStatus);

    // 
    // Handle file list behavior
    // 
    if($(this).hasClass('active')) {
      // Deselect
      $('.repo-file-link').removeClass('active');
      $(this).removeClass('opened');
      // TODO: Close the corresponding editor
      $('#editor-wrapper').addClass('hidden');
      $('#editor-wrapper').parent('div').removeClass('right-border');
      $('.repo-file-link').attr('data-original-title', 'Click to open');
    }
    else {
      // Select
      $('.repo-file-link').removeClass('active');
      $(this).addClass('active');
      $(this).addClass('opened');
      $('#editor-wrapper').removeClass('hidden');
      $('#editor-wrapper').parent('div').addClass('right-border');
      $('.repo-file-link').attr('data-original-title', 'Click to open');
      $(e.target).attr('data-original-title', 'Click to close');
      // var fileName = $(this).text();
      $('.file-being-edited').text(fileName);
    }
    $('.tooltip').hide();
    $(this).blur();
    
    // 
    // Get content from GitHub
    // 
    var downloadUrl = $(this).data('download-url');
    var editor = $(this).data('editor');
    
    if(downloadUrl!='') {
      $.get(downloadUrl, function(content, status) {
        
        // 
        // TODO: Save changes
        // 

        // 
        // Handle editor behavior
        // 
        if(typeof content === 'string') {
          // Editable content
          $('a[href="#'+ editor +'-editor"]').data('current-file', fileName);
          $('a[href="#'+ editor +'-editor"]').click();
          codeDocuments[editor].setValue(content);
        }
        else {
          // Non-editable content:
          //  Not expected to happen!
        }
      });
    }
  });
</script>
