<label>Pages</label>
<div class="y-scroll">

  <div class="page-thumbnail-wrapper">
    <div class="page-thumbnail-no">1.</div>
    <div class="page-thumbnail">
      &nbsp;
    </div>
  </div>

  <div class="page-thumbnail-wrapper">
    <div class="page-thumbnail-no">2.</div>
    <div class="page-thumbnail">
      &nbsp;
    </div>
  </div>

  <div class="page-thumbnail-wrapper">
    <div class="page-thumbnail-no">3.</div>
    <div class="page-thumbnail">
      &nbsp;
    </div>
  </div>

  <div class="page-thumbnail-wrapper">
    <div class="page-thumbnail-no">4.</div>
    <div class="page-thumbnail">
      &nbsp;
    </div>
  </div>

  <div class="page-thumbnail-wrapper">
    <div class="page-thumbnail-no">Add New</div>
    <div class="page-thumbnail">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </div>
  </div>  

</div>
