{% extends "workspace/base.html" %}

{% block content %}

  <!-- Popup modal blocks -->
  {% block create_project %}{% endblock create_project %}
  {% block project_browser %}{% endblock project_browser %}
  {% block create_page %}{% endblock create_page %}

  <div class="row full-height">
    <div class="col-lg-2 col-md-2 full-height right-border">
      {% block left_panel %}{% endblock left_panel %}
    </div>
    <div class="col-lg-5 col-md-5 full-height">
      {% block center_panel %}{% endblock center_panel %}
    </div>
    <div class="col-lg-5 col-md-5 full-height">
      {% block right_panel %}{% endblock right_panel %}
    </div>
  </div>

{% endblock content %}
