{% extends "workspace/default_layout.html" %}

{% block create_project %}
  {% include "partials/create_project.html" %}
{% endblock create_project %}

{% block project_browser %}
  {% include "partials/project_browser.html" %}
{% endblock project_browser %}

{% block left_panel %}
  {% include "partials/page_list.html" %}
{% endblock left_panel %}

{% block center_panel %}
  {% include "partials/editor.html" %}
{% endblock center_panel %}

{% block right_panel %}
  {% include "partials/runtime.html" %}
{% endblock right_panel %}
