{% extends "workspace/clean_slate_layout.html" %}

{% block content %}

  <!-- Popup modal blocks -->
  {% block create_project %}
    {% include "partials/create_project.html" %}
  {% endblock create_project %}

  {% block project_browser %}
    {% include "partials/project_browser.html" %}
  {% endblock project_browser %}

  <div class="col-md-4 col-md-offset-4 v-middle">
    <div class="btn btn-default btn-lg btn-block project-browser" data-toggle="modal" data-target="#project-browser-modal">
      Click Here to Start
    </div>
  </div>

{% endblock content %}
