<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="!">
    <meta name="author" content="Seongtaek Lim">

    <title>GLIDE: Collaboration, Rivision Control, and Web Development</title>

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">


    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-lg-offset-5 col-md-offset-5 full-height">
          <p>This is the landing page.</p>
          <p>Click <a href="/user/login/github">here</a> to login with <a href="https://github.com" target="_blank">GitHub</a>.</p>
        </div>
      </div>
    </div>

  </body>
</html>
