<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="!">
    <meta name="author" content="Seongtaek Lim">
    <meta name="description" content="GLIDE: Git-Learning IDE">
    <meta name="apple-mobile-web-app-title" content="GLIDE">
    <meta name="application-name" content="GLIDE">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#f3f3f3">

    <title>GLIDE: Git-Learning IDE</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icons/manifest.json">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#008cba">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/icon/icon.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/glide-icon.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body class="auto-scroll">

    <!-- Wrapper -->
    <div>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          
          <a class="navbar-brand" href="../"
            style="font-family:'Jura'; letter-spacing: 3px; font-weight: bold">
            <i class="icon-glide"></i> GLIDE
          </a>
          <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#nav-menus">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-menus">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">About<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link toggle-github" href="/user/login/github"
                  title="Sign In With GitHub" style="padding-top: 5px; padding-bottom: 0px">
                  <i class="sign in icon"></i>Sign In with <i class="big github icon"></i>
                  <span class="sr-only"></span></a>
              </li>
            </ul>
          </div>

        </div>
      </nav>

      <!-- Content -->
      <div class="landing container">

        <h1><strong>GLIDE</strong></h1>

        <div class="landing lead">
          Git-Learning IDE (Integrated Development Environment)
        </div>
        
        <div class="row">
          
          <!-- <div class="card mb-3">
            <h3 class="card-header">Card header</h3>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div> -->
          <div class="card col-lg-3 col-md-3 no-border">
            <div class="card-body">
              <h4 class="card-title"><strong>Get Started</strong></h4>
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <img style="height: 200px; width: 100%; display: block;" src="/static/img/getstarted.jpg" alt="Get Started">
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <p class="card-text">Are you ready to collaborate? Sign in with your GitHub account!</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

          <div class="card col-lg-3 col-md-3 no-border">
            <div class="card-body">
              <h4 class="card-title"><strong>Curriculum</strong></h4>
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <img style="height: 200px; width: 100%; display: block;" src="/static/img/curriculum.jpg" alt="Curriculum">
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <p class="card-text">Take a look at suggested curriculum that GLIDE is built around.</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

          <div class="card col-lg-3 col-md-3 no-border">
            <div class="card-body">
              <h4 class="card-title"><strong>Resources</strong></h4>
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <img style="height: 200px; width: 100%; display: block;" src="/static/img/resources.jpg" alt="Resources">
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <p class="card-text">Download useful resources in using GLIDE in your classroom, including paper prototyping toolkit, user guide, etc.</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

          <div class="card col-lg-3 col-md-3 no-border">
            <div class="card-body">
              <h4 class="card-title"><strong>About</strong></h4>
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <img style="height: 200px; width: 100%; display: block;" src="/static/img/glide_icon_original.svg" alt="About">
              <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
              <p class="card-text">Find out who we are, why we built GLIDE, and so on.</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

          

        </div>

      </div>

      

    <!-- <div class="container-fluid full-height">
      <div class="row v-middle">
        <div class="col-lg-4 col-md-4 offset-lg-4 offset-md-4">
          <p class="text-center">This is the landing page.</p>
          <p class="text-center">Click <a href="/user/login/github">here</a> to login with <a href="https://github.com" target="_blank">GitHub</a>.</p>
        </div>
      </div>
    </div> -->

  </body>
</html>
