{% load render_bundle from webpack_loader %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="!">
    <meta name="author" content="Seongtaek Lim">
    <meta name="description" content="GLIDE: Git-Learning IDE">
    <meta name="apple-mobile-web-app-title" content="GLIDE">
    <meta name="application-name" content="GLIDE">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#f3f3f3">

    <title>GLIDE: Git-Learning IDE</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icons/manifest.json">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#008cba">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/icon/icon.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/glide-icon.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="content" class="full-height"></div>
    <script>
      window.glide = {
        username: '{{ request.user.username }}', // Also in session variable
        csrfToken: '{{ csrf_token }}',
        accessToken: '{{ request.session.accessToken }}' // In session variable
      };
    </script>
    {% render_bundle "main" %}
  </body>
</html>
